<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Analytics" version="8.2.0" targetFramework="net452" />
  <package id="SC.Sitecore.Analytics.Aggregation" version="8.2.0" targetFramework="net452" />
  <package id="SC.Sitecore.Analytics.Model" version="8.2.0" targetFramework="net452" />
  <package id="SC.Sitecore.ContentSearch" version="8.2.0" targetFramework="net452" />
  <package id="SC.Sitecore.ContentSearch.Analytics" version="8.2.0" targetFramework="net452" />
  <package id="SC.Sitecore.ContentSearch.Linq" version="8.2.0" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.0" targetFramework="net452" />
</packages>